.history {
  padding: 0px 32px;
  font-weight: bold;
  color: dodgerblue;
  user-select: none;
  
  // background-color: rgb(250, 250, 250);
  height: 0px;
  opacity: 0;
  display: flex;
  align-items: center;

  overflow: hidden;

  transition: all 0.1s ease-in-out;

  &.active {
    height: 64px;
    opacity: 1;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    cursor: pointer;
    .arrow {
      padding: 8px;
      height: 32px;
    }

    p {
      font-size: 20px;
      transition: all 0.1s ease-in-out;
      margin: 0;
    }

    img {
      transition: all 0.1s ease-in-out;
    }

    &:hover {
      p, img {
        opacity: 0.7;
      }
    }
  }
}
